html
{
    background-color: wheat;
}

#bloc1
{
    color: darkslateblue;
    margin-left: -7px;
    padding-left: -5px;
    margin-top: -4px;
    margin-bottom: -27px;
    padding-left: 0px;
    margin-left: -7px;
}

h1
{
    color: red;
    height: 43px;
    width: 313px;
    padding-left: 8px;
    padding-right: -27px;
    margin-right: -49px;
    margin-top: 69.433px;
    border-top-width: 1px;
    border-top-style: solid;
    border-right-width: 1px;
    border-right-style: solid;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-left-width: 1px;
    border-left-style: solid;
    margin-left: 660px;
    font-style: oblique;
}
#bloc2
{
    width: 284px;
    height: 20px;
    padding-top: -4px;
    padding-bottom: -18px;
    padding-left: 20px;
    margin-top: -10px;
    margin-bottom: -25px;
    color: darkslateblue;
    padding-bottom: 2px;
    margin-bottom: -29px;
    padding-right: -15px;
    margin-right: -11px;
    margin-top: -12px;
    margin-left: -27px;
    padding-top: 6px;
    height: 22px;
    width: 285px;
}
#bloc3
{
    color: darkslateblue;
    margin-left: -8px;
    margin-top: -7px;
}
#demo
{
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-style: solid;
    border-right-style: solid;
    padding-left: 26px;
    margin-left: 660px;
    border-left-width: 8px;
    margin-right: 543px;
    margin-bottom: 0px;
    padding-bottom: 10px;
    padding-top: 3px;
    background-color: cadetblue;
    margin-top: 4px;
    border-top-width: 12px;
    border-right-width: 8px;
    border-bottom-width: 12px;
    margin-right: 538px;
}
h2
{
    border-top-width: 1px;
    border-top-style: solid;
    margin-left: -28px;
    width: 227px;
    height: 30px;
    padding-top: -1px;
    padding-right: -10px;
    margin-right: -52px;
    padding-left: 86px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}
